.Motivation-Container{
    display: flex;
    flex-direction: column;
    background-color: col(bla);
    margin:20px  auto;
    width: 70%;
    border-radius: 20px;
    padding: 20px 30px;
    transition: .2s ease-in-out;
    &-head{
        select{
            background-color: col(card);
            outline: none;
            border-radius: 10px;
            border: none;
            padding: 0 10px;
            color: col(text);
            font-family: $font;
        }
        text-align: center;
        font-family: $font;
        color: col(text);
        display: flex;
        justify-content: center;
        &-items{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                flex-grow: 0.9;
                cursor: default;
            }
            .add-motivation{
                background-color: col(text-light);
                padding: 10px;
                display: flex;
                cursor: pointer;
                border-radius: 50%;
                transition: .2s ease;
                &:hover{
                    background-color: col(black-glass);
                }
            }
        }
    }
    &-list{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        gap: 20px;
        padding: 10px 40px;
        &-out{
            display: flex;
            flex-direction: column;
            font-family: $font;
            color: col(text);
            gap: 10px;
            align-items: center;
            background-color: col(text-light);
            border-radius: 50px;
            overflow: hidden;
            &-top{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    position: relative;
                }
                h1{
                    margin-top: 10px;
                    padding: 5px 20px;
                    border-radius: 50px;
                    text-align: center;
                    background-color: col(card);
                }
            }
            p{
                width: 80%;
                word-wrap: break-word;
                overflow: scroll;
                overflow-x: hidden;
                height: 100px;
                background-color: col(card);
                font-size: 1.3em;
                padding: 20px 30px;
                border-radius: 20px;
                &::-webkit-scrollbar{
                    width: 0px;
                }
            }
            &-bot{
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: col(black-glass);
                width: 100%;
            }
        }
    }
    &-add-Tab{
        display: none;
        flex-direction: column;
        background-color: col(text-light);
        border-radius: 20px;
        width: 50%;
        margin: auto;
        padding: 10px 20px;
        &-top{
            display: flex;
            align-items: center;
            &-head{
                flex-grow: 1;
                text-align: center;
                h1{
                    font-size: 1.7em;
                    font-family: $font;
                    color: col(text);
                }
            }
            margin-bottom: 5px;
            border-bottom: 2px solid white;
        }
        &-mid{
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-family: $font;
            color: col(text);
            input,select,textarea{
                margin-top: 10px;
                outline: none;
                height: 40px;
                padding: 3px 10px;
                font-family: $font;
                color: col(text);
                background-color: col(card);
                border: none;
                border-radius: 10px;
                text-wrap: balance;
            }
            textarea{
                height: 120px;
                &::-webkit-scrollbar{
                    width: 0;
                }
            }
        }
        &-bot{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            justify-content: center;
            button{
                text-align: top;
                height: 40px;
                background-color: col(bg);
                border: none;
                border-radius: 30px;
                color: col(text);
                font-family: $font;
                font-size: 1.2em;
                font-weight: 900;
                cursor: pointer;
                transition: .2s ease;
                &:hover{
                    background-color: col(card);
                }
            }
        }
    }
    @include mLaptop(){
        width: 90%;
        &-list{
            padding: 10px 10px;
        }
        &-add-Tab{
            &-top{
                &-head{                    
                    h1{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    @include tablet(){
        padding: 20px 20px;
        &-list{
            padding: 10px 0px;
            &-out{
                border-radius: 20px;
                &-top{
                    gap: 10px;
                    h1{
                        border-radius: 20px;
                    }
                }
                p{
                    width: 90%;
                }
            }
        }
        &-add-Tab{
            margin-top: 10px;
            width: 85%;
            &-top{
                &-head{
                    h1{
                        font-size: 1.3em;
                    }
                }
                margin-top: 10px;
                margin-bottom: 10px;
            }
            &-mid{
                h1{
                    font-size: 1.5em;
                }
                h3{
                    font-size: 1em;
                }
            }
        }
    }
    @include tabletmid(){
        padding: 20px 10px;
        &-head{
            select{
                padding: 0 5px;
            }
            &-items{
                h1{
                    font-size: 1.5em;
                }
                .add-motivation{
                    padding: 5px;
                }
            }
        }
        &-list{
            &-out{
                p{
                    width: 95%;
                    font-size: 1.3em;
                    padding: 10px 25px;
                }
            }
        }
    }
    @include mMobile(){
        padding: 20px 10px;
        &-head{
            select{
                height: 50px;
            }
            flex-direction: column-reverse;
            gap: 10px;
            &-items{
                justify-content: start;
            }
        }
        &-list{
            &-out{
                &-top{
                    flex-direction: column;
                    h1{
                        margin-top: 0px;
                        padding: 5px 20px;
                        font-size: 1.3em;
                    }
                }
                p{
                    font-size: 1em;
                    padding: 10px;
                }
                &-bot{
                    flex-direction: column;
                    gap: 10px;
                    align-items: start;   
                    padding-left: 15px;             
                }
            }
        }
        &-add-Tab{
            width: 100%;
            &-top{
                &-head{
                    h1{
                        font-size: 1em;
                    }
                }
            }
            &-mid{
                h1{
                    font-size: 1.1em;
                }
                h3{
                    font-size: .7em;
                }
            }
        }
    }
}