<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PulsePod-Health-Hub</title>
    <link rel="icon" href="/assets/cardiogram.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="preloader">
        <img src="/assets/cardiogram.png" alt="PulsePod">
    </div>
    <div class="home">
        <div class="home-navigation">
            <h1 id="check">PulsePod</h1>
            <div class="menu">
                <img src="/assets/menu (1).png" alt="Menu" title="Menu" id="menu">
                <ul class="menu-list" id="menu-list">
                    <li><a href="/Components/Home/Home.html">Home</a></li>
                    <li><a href="/Components/Task-Manager/task-manager.html">Task Manager</a></li>
                    <li><a href="/Components/Education-hub/Education-hub.html">Education Hub</a></li>
                    <li><a href="/Components/Pomodoro/pomodoro.html">Pomodoro</a></li>
                    <li><a href="/Components/Motivation/motivation.html">Motivation</a></li>
                    <li id="myProfile"><a href="#">My Profile</a></li>
                    <li id="signoutbtn"><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="userCred">
            <img src="/assets/close (1).png" alt="Close" title="Close" id="userCred-close-btn" width="20px"
                height="20px">
            <h1 id="userCred-Username"></h1>
        </div>
        <div class="Health-hub-container">
            <div class="Health-hub-container-top">
                <div class="Health-hub-container-top-search-container">
                    <input type="text" id="Health-hub-search-bar" placeholder="Search" title="Search by username">
                </div>
                <button id="Health-hub-delete-my-tips">
                    Delete All my tips
                </button>
                <button id="Health-hub-view-my-tips">
                    <img src="/assets/visible (1).png" alt="visibility" title="View my tips" width="25px" height="25px"
                        id="health-viewimg">
                </button>
                <button id="Health-hub-grid">
                    <img src="/assets/menu (3).png" alt="Add tips" title="Change view" width="25px" height="25px"
                        id="Health-hub-hrid-list-img">
                </button>
                <button id="Health-hub-add-tip">
                    <img src="/assets/add (1).png" alt="Add tips" title="Add tips" width="25px" height="25px">
                </button>
                <button id="Health-hub-filter">
                    <img src="/assets/setting (3).png" alt="Filter" title="Filter by" width="25px" height="25px">
                    <h2 id="Filter text">Filter</h2>
                </button>
                <button id="Health-hub-filter-by-type">Type</button>
                <button id="Health-hub-filter-by-rating">Level</button>
            </div>
            <div class="Health-hub-container-grid" id="Health-hub-container-grid-list-changer">
                <div class="Health-hub-tip">
                    <h1 id="Health-hub-tip-title-display">Heart tip</h1>
                    <h2 id="Health-hub-tip-description-display">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ipsa perferendis, deleniti laboriosam molestias dolorum quia fugiat voluptatum, omnis
                        eaque eveniet architecto quas suscipit nam eius, laudantium quisquam quos minus! Velit.</h2>
                    <div class="Health-hub-tip-details">
                        <button id="Health-hub-tip-type-display">Health</button>
                        <button id="Health-hub-tip-level-btn-display">Professional</button>
                    </div>
                    <h3 id="Health-hub-tip-username-display">sharan@gmail.com</h3>
                </div>
                <div class="Health-hub-tip">
                    <h1 id="Health-hub-tip-title-display">Heart tip</h1>
                    <h2 id="Health-hub-tip-description-display">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ipsa perferendis, deleniti laboriosam molestias dolorum quia fugiat voluptatum, omnis
                        eaque eveniet architecto quas suscipit nam eius, laudantium quisquam quos minus! Velit.</h2>
                    <div class="Health-hub-tip-details">
                        <button id="Health-hub-tip-type-display">Health</button>
                        <button id="Health-hub-tip-level-btn-display">Professional</button>
                    </div>
                    <h3 id="Health-hub-tip-username-display">sharan@gmail.com</h3>
                </div>
                <div class="Health-hub-tip">
                    <h1 id="Health-hub-tip-title-display">Heart tip</h1>
                    <h2 id="Health-hub-tip-description-display">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ipsa perferendis, deleniti laboriosam molestias dolorum quia fugiat voluptatum, omnis
                        eaque eveniet architecto quas suscipit nam eius, laudantium quisquam quos minus! Velit.</h2>
                    <div class="Health-hub-tip-details">
                        <button id="Health-hub-tip-type-display">Health</button>
                        <button id="Health-hub-tip-level-btn-display">Professional</button>
                    </div>
                    <h3 id="Health-hub-tip-username-display">sharan@gmail.com</h3>
                </div>
                <div class="Health-hub-tip">
                    <h1 id="Health-hub-tip-title-display">Heart tip</h1>
                    <h2 id="Health-hub-tip-description-display">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ipsa perferendis, deleniti laboriosam molestias dolorum quia fugiat voluptatum, omnis
                        eaque eveniet architecto quas suscipit nam eius, laudantium quisquam quos minus! Velit.</h2>
                    <div class="Health-hub-tip-details">
                        <button id="Health-hub-tip-type-display">Health</button>
                        <button id="Health-hub-tip-level-btn-display">Professional</button>
                    </div>
                    <h3 id="Health-hub-tip-username-display">sharan@gmail.com</h3>
                </div>
                <div class="Health-hub-tip">
                    <h1 id="Health-hub-tip-title-display">Heart tip</h1>
                    <h2 id="Health-hub-tip-description-display">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ipsa perferendis, deleniti laboriosam molestias dolorum quia fugiat voluptatum, omnis
                        eaque eveniet architecto quas suscipit nam eius, laudantium quisquam quos minus! Velit.</h2>
                    <div class="Health-hub-tip-details">
                        <button id="Health-hub-tip-type-display">Health</button>
                        <button id="Health-hub-tip-level-btn-display">Professional</button>
                    </div>
                    <h3 id="Health-hub-tip-username-display">sharan@gmail.com</h3>
                </div>
                <div class="Health-hub-tip" onclick="">
                    <h1 id="Health-hub-tip-title-display">Heart tip</h1>
                    <h2 id="Health-hub-tip-description-display">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ipsa perferendis, deleniti laboriosam molestias dolorum quia fugiat voluptatum, omnis
                        eaque eveniet architecto quas suscipit nam eius, laudantium quisquam quos minus! Velit.</h2>
                    <div class="Health-hub-tip-details">
                        <button id="Health-hub-tip-type-display">Health</button>
                        <button id="Health-hub-tip-level-btn-display">Professional</button>
                    </div>
                    <h3 id="Health-hub-tip-username-display">sharan@gmail.com</h3>
                </div>
            </div>
            <div class="Health-hub-container-add-slide">
                <div class="Health-hub-container-add-slide-close-box">
                    <img src="/assets/close (1).png" alt="Close" width="25px" height="25px">
                </div>
                <div class="Health-hub-container-add-slide-top">
                    <h1>Health Tip</h1>
                </div>
                <div class="Health-hub-container-add-slide-mid">
                    <h1>Add Tip</h1>
                    <h2>Give your idea</h2>
                    <input type="text" id="Health-hub-add-tip-title-input" placeholder="Title">
                    <textarea id="Health-hub-add-tip-description-input" placeholder="Description"></textarea>
                    <select id="Health-hub-add-tip-type-input">
                        <option value="Health">Health</option>
                        <option value="Fitness">Fitness</option>
                        <option value="Diet">Diet</option>
                        <option value="Meditation">Meditation</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Other">Other</option>
                    </select>
                    <select id="Health-hub-add-tip-Level-input">
                        <option value="Begginer">Begginer</option>
                        <option value="Easy">Easy</option>
                        <option value="Expert">Expert</option>
                        <option value="Professional">Professional</option>
                    </select>
                </div>
                <div class="Health-hub-container-add-slide-bot">
                    <button id="Health-hub-tip-submit-btn">Add tip</button>
                </div>
            </div>
            <div class="Health-hub-container-expanded">
                <img src="/assets/close (1).png" alt="Close" title="Colse" id="Health-hub-container-expanded-close-btn"
                    width="20px" height="20px">
                <div class="Health-hub-tip-expanded-item">
                    <h1 id="Health-hub-tip-title-display-expanded">Heart tip</h1>
                    <h2 id="Health-hub-tip-description-display-expanded">Lorem ipsum dolor sit amet consectetur,
                        adipisicing
                        elit. Ipsa perferendis, deleniti laboriosam molestias dolorum quia fugiat voluptatum, omnis
                        eaque eveniet architecto quas suscipit nam eius, laudantium quisquam quos minus! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. At quibusdam quos incidunt nobis nostrum architecto
                        facilis blanditiis modi commodi officiis voluptatem alias itaque debitis maxime vero recusandae,
                        amet similique nisi! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic alias
                        incidunt, earum consectetur veritatis, suscipit doloribus ea possimus quis ipsa ullam explicabo
                        nesciunt ipsam perspiciatis, animi soluta. Magni, molestiae eos!</h2>
                    <div class="Health-hub-tip-details-expanded">
                        <button id="Health-hub-tip-type-display-expanded">Health</button>
                        <button id="Health-hub-tip-level-btn-display-expanded">Professional</button>
                    </div>
                    <h3 id="Health-hub-tip-username-display-expanded">sharan@gmail.com</h3>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="DataM.js"></script>
    <script src="health-hub.js"></script>
    <script>
        let userCreds = JSON.parse(sessionStorage.getItem("user-creds"));
        let userInfo = JSON.parse(sessionStorage.getItem("user-insfo"));

        let msgHead = document.getElementById('userCred-Username');
        let SignoutBtn = document.getElementById('signoutbtn');

        let Signout = () => {
            sessionStorage.removeItem("user-creds");
            sessionStorage.removeItem("user-insfo");
            window.location.href = "/index.html";
        }

        let checkedCred = () => {
            if (!sessionStorage.getItem("user-creds")) {
                window.location.href = "/index.html";
            }
            else {
                msgHead.innerText = `Username: ${userInfo.Username}`;
            }
        }

        window.addEventListener('load', checkedCred);
        SignoutBtn.addEventListener('click', Signout);

    </script>
</body>

</html>